.erro{
    color: red;
    font-weight: 700;
    font-size: 13px;
}
ion-fab{
  margin-top:40px;
}
.bt{
  font-size: 60px;
}
ion-img{
  width: 24px;
}
.glog{
  margin:5px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  font-family: Arial, Helvetica, sans-serif;
}
p{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}
