<ion-app>


  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="true">
    <ion-fab-button color="primary">
      <ion-icon name="person-circle-outline" class="bt"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="exit" (click)="logout()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


  <ion-card *ngIf="!mostrarApp && !c">
    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input label="email" label-placement="floating" fill="outline"
              placeholder="Entre com seu username" #usuario></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input type="password" label="Senha" label-placement="floating" fill="outline"
              placeholder="Entre sua senha" #senha></ion-input>
              <p class="erro">{{mensagem}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="fazerLogin(usuario.value,senha.value)">Entrar</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Não possui cadastro? <a (click)="mostrarCadastrar()">Cadastrar-se</a></p>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="c">
    <ion-card-header>
      <ion-card-title>Cadastrar</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-input type="email" label="email" label-placement="floating" fill="outline"
              placeholder="Entre com seu email" #email></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input type="password" label="Senha" label-placement="floating" fill="outline"
              placeholder="Entre sua senha" #senhaC></ion-input>
              <p class="erro">{{mensagem}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="Cadastrar(email.value,senhaC.value)">Cadastrar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>
  <ion-router-outlet *ngIf="mostrarApp"></ion-router-outlet>
</ion-app>
